include ../small.blocks/dropdown/dropdown.pug
mixin choose-options()
    div.choose-options
        +input_field('date', 'date-range', '2 спальни, 2 кровати...', 'даты пребывания в отеле')
        +drop_down('guests', 'Сколько гостей', '_common', 'Гости')
        div.oppotunities
            label= 'Checkbox Buttons'
            +checkbox('smoking', 'opportunity', 'Можно курить')
            +checkbox('pets', 'opportunity', 'Можно с питомцами')
            +checkbox('invite', 'opportunity',  'Можно пригласить гостей (до 10 человек)')
        div.availablity
            label= 'Доступность'
            +checkbox('corridor', 'availability', 'Широкий коридор')
            +checkbox('disabled', 'availability', 'Помощник для инвалидов')
        +drop_down('comfort', 'удобства номера', '_hidden')        
        +drop_down('add', 'дополнительные удобства', '_hidden')