mixin room-card(card_id)
    - var images = ['./img/card_picture1.jpg']
    div(class= 'room-card' id= card_id)
        ul(id='lightSlider')
            - for (var i in images)
                li.slide
                    div.myslide
                        img(src= images[i])
        div(class= 'inform')
            - var n = 'fa fa-star'
            p number
            p sum
            div.rating
                ul.stars
                    - for (var j = 0; j < 5; j++)
                        li
                            i(class= n)
                p come-back
