@import "../../config/config.less";
@import "../small.blocks/rating-stars/rating-stars.less";
@import "../small.blocks/carusel-slider/carusel-slider.less";
.room-card{
  max-width: 100%;
  box-sizing: border-box;
  .flex();
  flex-wrap: wrap;
  #lightSlider{
    padding-inline-start: 0;
    list-style-type: none;
    text-align: center;
  }
  .inform {
    padding: 0 18px 18px 18px;
    margin: 0 auto;
    .flex();
    flex-wrap: wrap;
    .star-rating {
      margin-top: 19px;
      height: 20.23%;
    }
    p {
      margin: 19px 0 0 0;
      color: @text_middle;
      &:nth-child(1){
        .header_3();
      }
    }
  }
}
