mixin slider-range()
    div.multi-range
        p.count
            label(for="amount") диапазон цены
            input(type="text" id="amount" class='amount-input' readonly style="border:0; color:#f6931f; font-weight:bold;")
        div(id="slider-range")
        p.describe Стоимость за сутки пребывания в номере 
