mixin registration_form(form_name)
    form(class= form_name action= "url" method="post")
        h1 #{title_card}
        +simple_input('text', 'userName', 'Имя')
        +simple_input('text', 'userSurname', 'Фамилия')
        div.radio_buttons
            +input_field(form_name, 'sex', 'radio', 'Мужчина')
            +input_field(form_name, 'sex', 'radio', 'Женщина')
        +input_field(form_name, 'Дата рождения', 'text', 'ДД.ММ.ГГГГ')
        +input_field(form_name, 'Данные для входа в сервис', 'text', 'Email')
        +simple_input('пароль', 'text', 'Пароль')
        +simple_input('checkbox', 'соглашение на рассылку', 'Получать спецпредложения')
        +simple_input('button', 'submit', 'value_purple_button')
        p #{p_text}
        +simple_input('button', 'name', 'value_wight_button')