include ../small.blocks/input/input.pug
include ../small.blocks/button/button.pug
mixin login_form(form_name)
    form(class= form_name action= "url" method="post")
        h1 Войти
        +simple_input('text', 'userName', 'Имя')
        +simple_input( 'text', 'userSurname', 'Фамилия')
        +button('sign-in', 'войти', 'button-purple')
        p Нет аккаунта на Toxin?
        +button('sign-up', 'создать', 'button-white')