mixin login_form(form_name)
    form(class= form_name action= "url" method="post")
        h1
        +simple_input('text', 'userName', 'Имя')
        +simple_input('text', 'userSurname', 'Фамилия')
        +simple_input('button', 'submit', 'value_purple_button')
        p
        +simple_input('button', 'name', 'value_wight_button')