include ../small.blocks/dropdown/dropdown.pug
include ../small.blocks/button/button.pug
mixin search-form(form_class)
    form(class= 'search-form'+' '+form_class action= "url" method="post")
        h1 Найдём номера под ваши пожелания
        +input_field('date', 'arrival', 'ДД.ММ.ГГГГ', 'Прибытие')
        +input_field('date', 'departure', 'ДД.ММ.ГГГГ', "Выезд")
        +drop_down('guests', 'Сколько гостей', '_common', "Гости")
        +button('choose-room', 'подобрать номер', 'button-purple')
