mixin simple_drop_down(select_id, first_option)
    div(class= 'rail-select')
        i(class="fas fa-chevron-down")
        select(id= select_id name= select_id)
            option(selected= 'selected')= first_option
mixin drop_down(select_label, select_id, first_option)
    div(class= 'rail-select')
        label(for= select_id)= select_label
        i(class="fas fa-chevron-down")
        select(id= select_id name= select_id)
            option(selected= 'selected')= first_option