@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.lists {
  list-style-type: none;
}
.button-simple {
  padding-top: 4.44px;
  border-radius: 22px;
}
.header-main {
  box-sizing: border-box;
  max-width: 1440px;
  height: 7.78%;
  margin: 0 9.72%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.header-main_item {
  display: flex;
  justify-content: space-between;
}
.header-main_item:nth-child(1) {
  align-items: center;
}
.header-main_item:nth-child(1) img:nth-child(2) {
  padding-left: 12.5px;
}
.header-main_item:nth-child(2) {
  width: 70%;
  margin-left: 6.94%;
  list-style-type: none;
}
.header-main_item:nth-child(2) li:nth-child(7) .button-simple {
  width: 87px;
  color: #BC9CFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 22px;
  text-transform: uppercase;
  height: 44px;
  height: 32px;
  border: 2px solid #BC9CFF;
  background: #FFFFFF;
}
.header-main_item:nth-child(2) li:nth-of-type(8) .button-simple {
  width: 196px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  height: 44px;
  border: none;
  border-radius: 22px;
  height: 34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.input-text {
  color: rgba(31, 32, 65, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 44px;
  font-size: 14px;
}
.label {
  width: 105.7px;
  display: flex;
  justify-content: space-between;
}
.label:nth-child(1) {
  align-items: center;
}
.label:nth-child(1) img:nth-child(2) {
  padding-left: 12.5px;
}
.footer {
  max-width: 1440px;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  padding: 0 140px;
  bottom: -120%;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__info .item {
  flex: 1 108px;
}
.footer__info .item h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  font-weight: bold;
}
.footer__info .item:nth-child(1) {
  flex: 2.4 108px;
}
.footer__info .item:nth-child(1) {
  margin-right: 40px;
}
.footer__info .item:nth-child(2) {
  flex: 1.324 108px;
  margin-right: 57px;
}
.footer__info .item:nth-child(4) {
  flex: 1.38 108px;
  margin-right: 92px;
  margin-left: 51px;
}
.footer__info .item:nth-child(5) {
  flex: 2.4 108px;
}
.footer__info .item:nth-child(5) .input-text {
  width: 260px;
}
.footer__info .item ul {
  list-style-type: none;
}
.footer__info .item ul li {
  padding-bottom: 20px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
}
.footer-social:before {
  content: '';
  position: absolute;
  border-top: 2px solid grey;
  max-width: 1440px;
}
.footer-social__item:nth-child(2) {
  list-style-type: none;
  width: 112px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-social__item:nth-child(2) li i {
  width: 24px;
  height: 24px;
}
.rail-select label {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  font-weight: bold;
  padding-bottom: 6px;
}
.rail-select select {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 44px;
  font-size: 14px;
}
/*# sourceMappingURL=search-page.css.map */