extends ../template-page/template.pug
append config
    include ../../config/config
    include ../../common.blocks/header/header.pug
    include ../../common.blocks/footer/footer.pug
    include ../../common.blocks/choose-options/choose-options.pug
    include ../../common.blocks/room-card/room-card.pug
    - pageName = 'Страница выбора номера'
    - pageDesc = 'Страница 3'
block header
    +header('header-main')
block content
    +choose-options()
    div.room-cards
        h1 Номера, которые мы для вас подобрали
        - for (var i = 0; i < 12; i++)
            +room-card()
block footer
    +footer()