extends ../template-page/template.pug
append config
    include ../../config/config
    include ../../common.blocks/header/header.pug
    include ../../common.blocks/footer/footer.pug
    include ../../common.blocks/choose-options/choose-options.pug
    include ../../common.blocks/cards-for-rooms/cards-for-rooms.pug
    - pageName= 'Страница выбора номера'
    - pageDesc= 'Страница 3'
    - bodyclass= 'body-search'
append head
    script(type= "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
block header
    +header('header-main')
block content
    div.search-container
        +choose-options()
        div.cards-container
            h1 Номера, которые мы для вас подобрали
            +cards-for-rooms()
block footer
    +footer()