// main: main.less
@import '../../config/config.less';
@import '../../../node_modules/lightpick/css/lightpick.css';
@import '../../common.blocks/header/header.less';
@import "../../common.blocks/footer/footer.less";
@import "../../common.blocks/choose-options/choose-options.less";
@import "../../common.blocks/cards-for-rooms/cards-for-rooms.less";
.body-search {
    padding: 0 9.72%;
    .search-container {
        margin: 2.76% 0 0 0;
        height: 1375px;
        .flex();
        .choose-options {
            width: 22.93%;
            height: 56.82%;
            margin-right: 5.52%;
            flex-direction: column;
            box-sizing: border-box;
            .complex-input {
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
        .cards-for-rooms{
            width: 71.91%;
        }
    }
footer {
    bottom: -230%;  
}   
}
