// main: main.less
@import '../../../../config/config.less';
@import '../../plus-minus/plus-minus.less';
.drop-down_common {
  .drop-field {
    .inp_sel();
    .icon-side_common {
      width: 12.5%;
      height: 12.5%;
      position: absolute;
      background-color: @white;
      top: 23.46%;
      i {
        left: 10%;
        top: 12px;
      }
    }
  }
}