// main: main.less
@import '../../../../config/config.less';
@import '../../plus-minus/plus-minus.less';
.drop-down_common {
  position: absolute;
  top: 255px;
  width: 18.4%;
  box-sizing: border-box;
  h3 {
    margin: 0 0 5px 0;
    .header_3();
  }
  .drop-field {
    width: 100%;
    line-height: 38px;  
    .inp_sel();
    height: 44px;
    position: relative;
  }
  .icon-side {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0;
    bottom: 0;
    text-align: center;
    i {
      margin-top: 35%;
    }
  }
  .drop-body{
    height: 8.26%;
    border: 1px solid @text_middle;
    display: none;
    .opport{
      display: flex;
      height: 44px;
      padding-top: 10px;
      .flex();
      .number {
        margin: 10px;
        input, .minus, .plus{
          border-radius: 50%;
          text-align: center;
          border: 1px solid @text_light;
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
      }
  }
  }
}