// main: main.less
@import '../../config/config.less';
@import '../room-card/room-card.less';
@import '../small.blocks/pagination/pagination.less';
.cards-for-rooms{
    h1 {
        margin: 0 0 21px 0;
    }
    .cards-container{
        box-sizing: border-box;
        margin: 0;
        height: 80%;
        display: grid;
        grid-template-rows: 23% 23% 23%;
        grid-template-columns: 31.5% 31.5% 31.5%;
        grid-gap: 1.7vw;
        transition: all 0.7s ease;
    }
}