// main: main.less
@import '../../config/config.less';
@import '../room-card/room-card.less';
.room-cards {
    display: grid;
    grid-template-columns: 132.52%;
    grid-template-rows: 7.85%;
    grid-column-gap: 0.208%;
    grid-row-gap: 0.243%;
}