// main: main.less
@import "../small.blocks/button/button_purple.less";
@import "../small.blocks/button/button_white.less";
@import '../small.blocks/dropdown/_hidden/_hidden.less';
.header-main {
  box-sizing: border-box;
  height: 7.78%;
  width: 86%;
  margin: 0 7%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &_item {
    .toxin_label();
    &:nth-child(2) {
      width: 75%;
      .lists();
      .flex();
      li {
        .drop-down_hidden {
          max-height: 64px;
        }
        &:nth-child(2){
          width: 8.37%;
          .drop-down_hidden{
            width: 5.14%;
          }
        }
        &:nth-child(5) {
          width: 14.71%;
          .drop-down_hidden{
            width: 8.06%;
          }
        }
        &:nth-child(6) .button_white{
          width: 87px;
        }
        &:nth-of-type(7) .button_purple{
          width: 196px;
        }
      }

    }
  }
}