// main: main.less
@import '../../../../config/config.less';
@import '../../plus-minus/plus-minus.less';
.drop-down_hidden {
  position: absolute;
  width: 80px;
  box-sizing: border-box;
  .drop-field {
    height: 44px;
    position: relative;
  }
  .icon-side {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 0;
    left: 55px;
  }
  .drop-body{
    display: none;
    p {
      margin: 7px 0 7px 0;
    }
  }
}
