include ../small.blocks/detail/detail.pug
mixin room_details()
    div.room_details
        h2 Сведения о номере
        +detail('../../img/insert_emoticon.svg', 'Комфорт', 'Шумопоглощающие стены')
        +detail('../../img/location_city.svg', 'Удобство', 'Окно в каждой из спален')
        +detail('../../img/whatshot.svg', 'Уют', 'Номер оснащён камином')
